<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
1)add bootstrap in dependencies 
<br>
2)Add this line in src/style.css
<br>
@import '~bootstrap/dist/css/bootstrap.min.css';
<p>


<button class="btn btn-primary" (click)="clickMe()" > click me </button>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>